body {
    font-family: 'Ubuntu Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
    color: #ffffff;
    cursor: url('mifi');
}

header, nav, section, footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 1em 0;
}

p {
    margin: 0px 400px;
    text-align: left;
    font-size: 1.4em;
}

header h1 {
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 1em;
    font-size: 1.6em;
}

section {
    padding: 2em;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

marquee {
    color: #ffffff;
}
